<!DOCTYPE html>
<html >
    <style>
        form {
        width:100%;
        height:100px;
        margin:auto;
        position:relative;
        }
        input {
        width:80%;
        height: 30px;
        word-wrap: break-word;

         }
        </style> 
<head>
  <meta charset="UTF-8">
  <title>Twitter Sentiment analysis</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body style="background-color:rgb(210, 122, 147);">
<div class="login">
    <h1>Twitter Sentiment analysis</h1>
        <b>Enter the Message</b>
    </p>
    <form action="{{url_for('prediction')}}" method="POST" text-align: center>
        <input type="textarea" name="Message" placeholder="Message" required="required" size="50"/><br>
        

        <button type="submit" class="btn btn-primary btn-block btn-large">Click to Predict</button>

    </form>
   <br>
   <br>
</div>
    <b>{{prediction_value}}</b>
</body>
</html>
